
@charset "utf-8";
html,body,p,span,ul,li,ol,div,form,i,h1,h2,h3,h4,h5,h6,
figure,figcaption,input,lable,button,img,a,i{
    margin:0;
    padding:0;
}
body{
     color: #333;
    overflow-x: hidden;
    font-family: "微软雅黑","Microsoft YaHei","黑体","SimHei","宋体","SimSun",sans-serif;
}
i{
    font-style:normal;
}
ul,li,ol{
    list-style:none;
}
input{
    outline:none;
}
img{
    float:left;
}
a{
    text-decoration:none;
    color:#000;
}
a:link{
    text-decoration:none;
    color:#000;
}
a:visited{
    text-decoration:none;
    color:#000;
}
/* 头部样式 */
html,body{
    width:100%;
}
body>div{
    width:100%;
}
.gotop{
    cursor:pointer;
    display:none;
    width:50px;
    height:50px;
    background:#eaeef1;
    position:fixed;
    right:10px;
    bottom:50px;
    border-radius:2px;
}
/* 上三角 */
.gotop .sanj{
    width:0;
    height:0;
    border-width:15px;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #797c8c transparent ;
    position:relative;
    left:10px;
    z-index: 99;
}
.gotop .sanj:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border-width:15px;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #eaeef1 transparent;
    left:-15px;
    top:-10px;
}

/* title */
.tit_con{
    height:36px;
    background:#f2f2f2;
}
.tit_con p{
    height:36px;
    line-height:36px;
    font-size:14px;
    color:#363636;
    float:left;
    margin-left:65px;
    cursor:pointer;
}
.tit_con .txt{
    float:right;
    margin-right:65px;
    cursor:pointer;
}
.txt i{
    display:inline-block;
    font-size:14px;
    width:20px;
    height:20px;
    line-height:36px;
}

/* nav */
.nav_con{
    width:100%;
    position:relative;
    background:#fff;
    height:65px;
    font-size:14px;
    color:#000;
    border-bottom:1px solid #eeeeee;
}
.nav_con .top{
    line-height:63px;
    display:flex;
    justify-content: space-around;
    position:relative;
}
.logo{
    width:130px;
    height:20px;
    position:absolute;
    top:36px;
    margin-top:-10px;
}
.nav_con .top ul li{
    height:63px;
    cursor:pointer;
    float:left;
    margin-right:35px;
    font-weight:bold;
    position:relative;
}
.ltxt li,.rtxt li{
    height:63px;
    cursor:pointer;
    float:left;
    margin-right:35px;
    font-weight:bold;
    position:relative;
}
.li_hover_a{
    font-weight:bolder!important;
    color:#072bf7!important;
    text-decoration:none!important;
}
.li_hover_i{
    font-weight:bolder!important;
    color:#072bf7!important;
}
.li_hover_li{
    font-weight:bolder;
    color:#072bf7;
    border-bottom:2px solid #072bf7;
}
.rtxt li:hover a,.rtxt li:hover i{
    color:#072bf7;
}
.info{
    width:1349px;
    position:fixed;
    left:0;
    z-index:2;
    height:214px;
    background:#fff;
    display:none;
}
.info>div{
    margin:0 70px;
    border-right:2px solid #000;
}
.info figure{
    float:left;
    margin:30px;
    cursor:pointer;
    width:100px;
    height:166px;
    font-size:12px;
    border:none;
   
}
.info figcaption{
    margin-top:20px;
    text-align:center;
    line-height:16px;
}
.info>div{
    padding-right:50px;
    border-right:2px solid #c9cde4;
}
.info p{
    margin:20px 0 25px 0;
    padding-left:25px;
    height:20px;
    line-height:36px;
}
.info figure>img{
    width:100px;
    height:100px;
    cursor:pointer;
    position: relative;
    left:50%;
    margin-left:-50px;
}

/* 底部样式 */
/* about */
.about_con{
    width:1220px;
    margin:0 auto;
    height:154px;
    border-top:1px solid #dadee2;
    margin-top:75px;
    background:#fff;
}
.about_con>div{
    float:left;
    width:405px;
    height:154px;
    display:flex;
    align-items:center;
    position:relative;
}
.about_con>div>i{
    float:left;
    text-align:center;
    line-height:45px;
    font-size:28px;
    width:45px;
    height:45px;
    border:1px solid #000;
    border-radius:50%;
    margin-right:50px;
    position:absolute;
    top:40px;
    left:2px;
}
.about_con>div>ul{
    width:310px;
    border-right:1px solid #dadee2;
    height:90px;
    margin-left:95px;
}
.about_con .otheri{
    left:35px;
}
.about_con .otherul{
    margin-left:130px;
}
.about_con .lastul{
    border:none;
}
/* info */
#info{
    background:#f5f5f5;
}
.info_con{
    width:1220px;
    height:285px;
    margin:0 auto;
}
.info_con>div{
    height:203px;
}
.info_con ul{
    float:left;
    margin-top:40px;
    width:284px;
}
.info_con .firstli{
    font-weight: bold;
}
.info_con ul li{
    line-height:22px;
    font-size:12px;
    color:#000;
}
.info_con>p{
    font-size:14px;
    color:#333;
    height:72px;
    line-height:72px;
    text-align:left;
}
.info_con>div>div:last-child{
    width:150px;
    float:left;
}
.info_con>div>div:last-child p{
    font-size:12px;
    margin-top:40px;

}
.info_con>div>div:last-child span{
    display:block;
    height:57px;
    line-height:57px;
    font-size:16px;
    font-weight: bold;
    float:right;
    color:#000;
}
.info_con i{
    font-size:40px;
    float:left;
    margin-left:10px;
}

/* bottom */
#bottom{
    background:#525252;
}
.bottom_con{
    width:1220px;
    margin:0 auto;
    height:130px;
}
.bottom_con>div{
    float:left;
}
.bottom_con>div:first-child{
    width:940px;
}
.bottom_con ul{
    height:70px;
}
.bottom_con ul li a{
    float:left;
    font-size:12px;
    font-weight: bold;
    color:#fff;
    margin-right:25px;
    height:70px;
    line-height:70px;
}
.bottom_con>div:first-child p{
    font-size:12px;
    color:#ccc;
}
.bottom_con>div:last-child{
    width:280px;
    font-size:12px;
    color:#fff;
    margin-top:30px;
}
.bottom_con>div:last-child p{
    line-height:16px;
    margin-bottom:18px;
}

/* 公共全局样式 */
figure{
    cursor:pointer;
    float:left;
    width:295px;
    height:341px;
    text-align: center;
    line-height:50px;
    border-right:10px solid #f5f5f5;
    display: flex;
    flex-direction: column;
}
figure:nth-child(4){
    border:none;
}
figure>img{
    cursor:pointer;
    position: relative;
    left:50%;
    margin-left:-109px;
    width:217px;
    height:217px;
}

/* 导航圆点 */
.list{
    position:absolute;
    bottom:20px;
    left:50%;
    line-height:20px;
}
.list li,.list span{
    position: relative;
    margin-left:10px;
    margin-right:10px;
    top:0;
    margin-top:-9px;
    cursor:pointer;
    float:left;
    width:18px;
    height:18px;
    border-radius:50%;
    background:#d4d5da;
}
body .active{
    width:18px;
    height:18px;
    margin-top:-10px;
    background:#4050b0;
    border:2px solid #fff;
}
/* 导航菜单 */
.tuitag{
    margin-left:150px;
    cursor:pointer;
}
._tag{
    font-size:20px;
    color:#333;
}
._tag:focus{
    outline:none;
}
html body .tag_active{
    color:#1428a0!important;
    font-weight: bold;
    border-bottom:2px solid #1428a0;
}
body img{
    cursor:pointer;
}

/* 左右按钮 */
.phtl_box{
    width:26px;
    height:46px;
    border:1px solid #fff;
    border-left:none;
    background:#aaa;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-23px;
    z-index:1;
}
.phtl_btn{
    width:0;
    height:0;
    border-width:10px;
    border-style:dashed solid dashed dashed;
    border-color:transparent #fff  transparent transparent;
    position:relative;
    left:-2px;
    top:13px;
}
.phtl_btn:after{
    content:"";
    width:0;
    height:0;
    border-width:10px;
    border-style:dashed solid dashed dashed;
    border-color:transparent #aaa  transparent transparent;
    position:absolute;
    top:-10px;
    left:-8px;
}
.phtr_box{
    width:26px;
    height:46px;
    border:1px solid #fff;
    border-right:none;
    background:#aaa;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-23px;
    z-index:1;
}
.phtr_btn{
    width:0;
    height:0;
    border-width:10px;
    border-style:dashed  dashed dashed solid;
    border-color:transparent   transparent transparent #fff;
    position:relative;
    left:8px;
    top:13px;
}
.phtr_btn:after{
    content:"";
    width:0;
    height:0;
    border-width:10px;
    border-style:dashed dashed dashed solid;
    border-color:transparent  transparent transparent #aaa ;
    position:absolute;
    top:-10px;
    left:-12px;
}
.phtl_box:hover{
    background:#fff;
}
.phtl_box:hover .phtl_btn{
    border-color:transparent #aaa  transparent transparent ;
}
.phtl_box:hover .phtl_btn:after{
    border-color:transparent #fff  transparent transparent;
}
.phtr_box:hover{
    background:#fff;
}
.phtr_box:hover .phtr_btn{
    border-color:transparent   transparent transparent #aaa;
}
.phtr_box:hover .phtr_btn:after{
    border-color:transparent   transparent transparent #fff;
}
/* 特价标签 */
/* 书标签 */
.s_label{
    width:36px;
    height:56px;
    background:#ee6e44;
    position:absolute;
    left:0;
    top:0;
    text-align:center;
    border-radius:2px;
    z-index:1;
}
.s_label>span{
    color:#fff;
    line-height:36px;
    font-size:14px;
}
.s_label:after{
    content:"";
    width:0;
    height:0;
    border-width: 18px;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #fff transparent;
    position:absolute;
    bottom:0;
    left:0;
}
/* 横标签 */
.h_label{
    width:56px;
    height:36px;
    background:#ee6e44;
    position:absolute;
    left:0;
    top:0;
    border-radius:2px;
    z-index:1;
}
.h_label>span{
    font-size:14px;
    color:#fff;
    line-height:36px;
    margin-left:5px;
}
.h_label:after{
    content:"";
    width:0;
    height:0;
    border-width: 18px;
    border-style:dashed solid dashed dashed;
    border-color:transparent #fff transparent transparent ;
    position:absolute;
    left:20px;
}
.xinp{
    background:#753690;
}
.zhij{
    background:#369052;
}
.mianx{
    background:#ef1332;
}
.sp{
    position:relative;
}
.goods>figure{
    position:relative;

}
.show_info{
    position:absolute;
    left:0;
    top:65px;
    z-index: 2;
}
.info .lastinfo{
    padding-right:70px!important;
    border-right:1px solid #aaa!important;
}
.info p{
    cursor:pointer;
}
.info p:hover{
    color:#072bf7;
}
.info figure:hover{
    color:#072bf7;
}
.show_info>figure{
    position: relative;
}
