@charset "utf=8";


/* banner */
#banner{
    width:100%;
}
.banner_con{
    overflow:hidden;
    width:100%;
    height:427px;
    position: relative;
}
.banner_con .imgbox{
    cursor:pointer;
    position:absolute;
    left:0;
    top:0;
    width:99999px;
    height:427px;
}
.banner_con img{
    float:left;
    width:1920px;
    height:100%;
}

/* .swiper-pagination-bullet-active {
    width:20px;
    height:20px;
    margin-top:-10px;
    background:#4050b0;
    border:2px solid #fff;
  } */

/* case */
.case_con{
    width:1220px;
    background:#fff;
    margin:0 auto;
}
.photo{
    height:262px;
    display:flex;
    justify-content: space-between;
    margin-top:35px;
}
.photo img{
    width:390px;
    height:256px;
}
.pej{
    margin-top:35px;
    height:445px;
}
.name{
    height:55px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.name span{
    cursor:pointer;
    font-size:26px;
    color:#333;
}
.name ul{
    position:absolute;
    left:165px;
    bottom:20px;
}
.name a{
    font-size:20px;
    color:#333;
    float:right;
}
.name ul li{
    cursor:pointer;
    font-size:20px;
    color:#333;
    float:left;
    margin-right:32px;
}
.pej_con{
    position:relative;
    height:390px;
    overflow: hidden;
}
.show{
    width:99999px;
    position:absolute;
}
.goods{
    background:#fff;
    width:1220px;
    height:390px;
    display: flex;
    justify-content: space-around;
    float:left;
    position: relative;
    left:0;
    top:0;
}

.goods span{
    display:block;
}
.pej_con .phtl_box{
    position: absolute;
    top:50%;
    margin-top:-14px;
}
.pej_con .phtr_box{
    position: absolute;
    top:50%;
    margin-top:-14px;
}
.peh-l{
   left:0; 
}
.pej-r{
    right:0;
}

/* .scase{
    width:100%;
}
.scase .tit{
    width:100%;
} */
.scase .hot{
    height:95px;
    line-height:95px;
    font-size:24px;
    color:#333;
}
.goods_nav{
    position:absolute;
    top:35px;
    left:150px;
}
.goods_nav li{
    float:left;
    margin:0 10px;
    font-size:20px;
}
.scase .tit .tit-con{
    width:100%;
    height:183px;
    position:relative;
    overflow:hidden;
}
.scase .tit .imgbox{
    position:absolute;
    left:0;
    top:0;
    width:99999px;
    height:183px;
}
.scase .product{
    height:485px;
    position:relative;
}
.scase .tuil{
    position:absolute;
    left:0;
    top:50%;
    width:26px;
    height:46px;
    margin-top:-23px;
    z-index:3;
}
.scase .tuir{
    position:absolute;
    right:0;
    top:50%;
    width:26px;
    height:46px;
    margin-top:-23px;
    z-index:3;
}
.my-container{
    overflow:hidden;
    position:relative;
}

